{% extends "layout.html" %} {% block title %}Post {{post["title"]}}{% endblock %} {% block content %}
<br>
<div class="container">
    <a class="text-crab" href="{{ url_for('posts') }}"><i class="fas fa-arrow-left"></i> Back to overview</a>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="h3">{{post["title"]}}</p>
            <p>{{post["content"]}}</p>
        </div>
        <div class="col-md-6">
            {% if post['img'] %}
            <img class="img-fluid" src="{{ url_for('display_image', filename=post['img']) }}" alt=""> {% endif %}
        </div>
    </div>
</div>

{% endblock %}