{% extends "layout.html" %} {% block title %}New Post{% endblock %} {% block content %}
<hr>
<div class="container">
    <a class="text-dark" href="{{ url_for('posts') }}"><i class="fas fa-arrow-left"></i> Back to overview</a>
    <hr>
    <p class="h3">Nieuwe post maken</p>
    <div class="container">
        <form action="/posts/new" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="title">Titel</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="">
            </div>
            <div class="form-group row">
                <label for="content">Inhoud</label>
                <input type="text" class="form-control" name="content" id="content" placeholder="">
            </div>
            <div class="form-group row">
                <label>Foto</label>
                <div class="custom-file">
                    <input type="file" name="image" id="image" placeholder="" class="custom-file-input" oninput="filesize(this);">
                    <label class="custom-file-label" for="image"></label>
                </div>
            </div>
            <div class="form-group row">
                <p class="text-danger">{{ error }}</p>
            </div>
            <div class="form-group row">
                <div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function filesize(elem) {
        document.cookie = `filesize=${elem.files[0].size}`
    }
</script>

{% endblock %}