{% extends "layout.html" %} {% block title %}Map{% endblock %} {% block content %}
<br>
<div class="container">
    <p class="h2">Map</p>
</div>
<br>
<div id='map' style="width: 100%; height: 500px;"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlZmthdHRlbnZyaWVuZCIsImEiOiJja2pyaXQ3dDgzcWZwMnNsbzZlczE3ZDAzIn0.uQuydY-7VveucxEChSTivw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [5.78881, 51.89387], // starting position [lng, lat]
        zoom: 17
    });

    map.on('load', function() {
        // Insert the layer beneath any symbol layer.
        var layers = map.getStyle().layers;

        var labelLayerId;
        for (var i = 0; i < layers.length; i++) {
            if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                labelLayerId = layers[i].id;
                break;
            }
        }

        map.addLayer({
                'id': '3d-buildings',
                'source': 'composite',
                'source-layer': 'building',
                'filter': ['==', 'extrude', 'true'],
                'type': 'fill-extrusion',
                'minzoom': 15,
                'paint': {
                    'fill-extrusion-color': '#aaa',
                    'fill-extrusion-height': [
                        'interpolate', ['linear'],
                        ['zoom'],
                        15,
                        0,
                        15.05, ['get', 'height']
                    ],
                    'fill-extrusion-base': [
                        'interpolate', ['linear'],
                        ['zoom'],
                        15,
                        0,
                        15.05, ['get', 'min_height']
                    ],
                    'fill-extrusion-opacity': 0.6
                }
            },
            labelLayerId
        );
    });

    map.addControl(new mapboxgl.NavigationControl());
</script>

{% endblock %}