{% extends "layout.html" %} {% block title %}Sensor{% endblock %} {% block content %}
<hr>
<div class="container">
    <a class="float-right btn btn-dark" href="#"><i class="fas fa-redo"></i></a>
    <p class="h2">Sensor</p>
</div>
<div class="container">
    {% if found %}
    <p class="card-text">Dit zijn de omstandigheden op Stefs kamer:</p>
    <br>
    <p class="card-text">Temperatuur: {{ temp }}</p>
    <p class="card-text">Luchtdruk: {{ press }}</p>

    {% else %}
    <p class="card-text text-warning">Sensor niet gevonden!</p>
    {% endif %}
</div>
{% endblock %}