.bg-rainbow {
    height: 5px;
    /* For browsers that do not support gradients */
    background: red;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
    /* Standard syntax (must be last) */
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

.bg-crab-line {
    height: 5px;
    background: #ff2a2a;
}

.footer-line {
    transform: translate(0, -8px);
}

.banner-triangle {
    fill: #ff2a2a;
    height: 100%;
    width: 100%;
}

.lead {
    margin-bottom: 0!important;
}

.about-picture {
    transform: translate(0, 3rem);
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}


/* Crab Bootstrap colors */

.text-crab {
    color: #ff2a2a!important;
}

.bg-crab {
    background-color: #ff2a2a!important;
}

.border-crab {
    border-color: #ff2a2a!important;
}

.btn-crab {
    color: #fff;
    background-color: #ff2a2a;
    border-color: #ff2a2a;
}

.btn-crab:hover {
    color: #fff;
    background-color: #BF2020;
    border-color: #BF2020;
}

.btn-outline-crab {
    color: #ff2a2a;
    background-color: transparent;
    background-image: none;
    border-color: #ff2a2a;
}

.btn-outline-crab:hover {
    color: #fff;
    background-color: #ff2a2a;
    border-color: #ff2a2a;
}


/* Keep Footer where it belongs */

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    /* Footer height */
    padding-bottom: 8rem;
}

.footer {
    /* Footer height */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background: #222;
}


/* Custom scrollbar */

::-webkit-scrollbar {
    /* width */
    width: 16px;
    height: 16px;
    background: darkgrey;
}

::-webkit-scrollbar-track {
    /* Track */
    background: darkgrey;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: white;
    border: 2px solid darkgrey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: lightgrey;
}

::-webkit-scrollbar-corner {
    /* Corner */
    background: darkgrey;
}

::-webkit-scrollbar-button {
    /* Buttons */
    background-color: white;
    height: 16px;
    width: 16px;
    border: 2px solid darkgrey;
    border-radius: 4px;
}

::-webkit-scrollbar-button:hover {
    /* Buttons on hover */
    background-color: lightgrey;
}