{% extends "layout.html" %} {% block title %}403 - FORBIDDEN{% endblock %} {% block content %}
<br>
<div class="container">
    <a class="text-crab" href="{{ url_for('index') }}"><i class="fas fa-arrow-left"></i> Back to home</a>
    <hr>
    <div class="text-center text-dark">
        <i class="fas fa-exclamation-triangle fa-8x"></i>
    </div>
    <br>
    <p class="h2 text-center">Error 403 - Forbidden</p>
    <p class="text-center">You don't have access to this page or action.</p>
    <br>
</div>
{% endblock %}