{% extends "layout.html" %} {% block title %}404 - NOT FOUND{% endblock %} {% block content %}
<br>
<div class="container">
    <a class="text-crab" href="{{ url_for('index') }}"><i class="fas fa-arrow-left"></i> Back to home</a>
    <hr>
    <div class="text-center text-dark">
        <i class="fas fa-exclamation-triangle fa-8x"></i>
    </div>
    <br>
    <p class="h2 text-center">Error 404 - Not found</p>
    <p class="text-center">This page does not exist.</p>
    <br>
</div>
{% endblock %}